<div class="authincation h-100 ">
    <div class="container h-100">
      <div class="row justify-content-center h-100 align-items-center">
        <div class="col-md-6">
          <div class="authincation-content mt-5">
            <div class="row no-gutters">
              <div class="col-xl-12">
                <div class="auth-form">
                  <div class="text-center mb-3">
                    <img style="width: auto; height: 200px;" src="assets/images/finnland.png" alt="">
                  </div>
                  <h1 class="text-center mb-4">Sorry!</h1>
                  <p class="text-center mb-4">Suspended the service due to the delay of payments. Service will be available after payment clearances. 
                    Sorry for the inconvenience caused.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>