<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Search Item</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form class="form-valide-with-icon needs-validation" novalidate="">
                    <div class="mb-3">
                        <!-- <label class="text-label form-label" for="validationCustomUsername">Username</label> -->
                        <div class="input-group">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            <input type="text" class="form-control" #search (keyup)="searchProduct(search.value)"
                                placeholder="Search.." required="">
                            <div class="help-block has-error">

                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 order-lg-2 mb-4">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-muted">Select one..</span>

                            </h4>
                            <ul class="list-group mb-3">

                                <li class="list-group-item d-flex justify-content-between lh-condensed"
                                    *ngFor="let product of products" (click)="addToCart(product)">
                                    <div>
                                        <h6 class="my-0">{{product.name}}</h6>
                                        <small class="text-muted">Brief description</small>
                                    </div>
                                    <span class="text-muted">{{product.quantity}}</span>
                                    <span class="text-muted">${{product.sellingPrice}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="col-xl-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 order-lg-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your cart</span>
                        <span class="badge badge-primary badge-pill">{{initInvoice.cart.length}}</span>
                    </h4>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-condensed"
                            *ngFor="let item of cart">
                            <div>
                                <h6 class="my-0">{{item.name}}</h6>
                                <small class="text-muted">{{item.inStock ?'INSTOCK':'OUTOFSTOCK'}}</small>
                            </div>
                            <div class="col-md-3 ">
                                <input type="number" #amount (keyup)="addAmountToCart(item,amount.value)"
                                    [value]="item.quantity" style="width: 60px; text-align: right;"
                                    class="form-control">

                            </div>
                            <div class="mr-0">

                                <span class="text-muted">LKR {{item.sellingPrice*item.quantity}}</span>

                            </div>
                            <div>
                                <button (click)="remove(item.id)" class="btn btn-danger dark me-1 px-3"><i
                                        class="fa fa-trash m-0"></i> </button>
                            </div>

                        </li>
                        <!-- 
                        <li class="list-group-item d-flex justify-content-between active">
                            <div class="text-white">
                                <h6 class="my-0 text-white">Promo code</h6>
                                <small>EXAMPLECODE</small>
                            </div>
                            <span class="text-white">-$5</span>
                        </li> -->
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Tax (%)</span>
                            <div>
                                <input type="number" #amount (keyup)="addTax(initInvoice,amount.value)"
                                    style="width: 80px; text-align: right;" class="form-control">
                            </div>
                        </li>

                        <li class="list-group-item d-flex justify-content-between active">
                            <h6>Discount (%)</h6>
                            <div>
                                <input type="number" #amount (keyup)="addDiscount(initInvoice,amount.value)"
                                    style="width: 80px; text-align: right;" class="form-control">
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total (LKR)</span>
                            <strong>{{initInvoice.total}}</strong>
                        </li>
                    </ul>

                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Promo code">
                            <button type="submit" class="input-group-text">Redeem</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <h4 class="mb-3">Billing address</h4>

                    <div class="card-body">
                        <div class="basic-form">
                            <form class="form-valide-with-icon needs-validation" novalidate="">
                                <div class="mb-3">
                                    <!-- <label class="text-label form-label" for="validationCustomUsername">Username</label> -->
                                    <div class="input-group">
                                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                        <input type="text" class="form-control" #custom
                                            (keyup)="searchCustomer(custom.value)" placeholder="Search.." required="">
                                        <div class="help-block has-error">

                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12 order-lg-2 mb-4">
                                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="text-muted">Select one..</span>

                                        </h4>
                                        <ul class="list-group mb-3">

                                            <li class="list-group-item d-flex justify-content-between lh-condensed"
                                                *ngFor="let customer of searchCustomers"
                                                (click)="setFormData(customer)">
                                                <div>
                                                    <h6 class="my-0">{{customer.name}}</h6>
                                                    <!-- <small class="text-muted">Brief description</small> -->
                                                </div>
                                                <span class="text-muted">{{customer.mobile}}</span>
                                                <span class="text-muted">${{customer?.agent.name}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <form [formGroup]="customerDetails" (ngSubmit)="onSubmit()" class="needs-validation" novalidate="">
                        <div class="mb-3">
                            <label for="mobile" class="form-label">Mobile</label>
                            <input type="text" class="form-control" formControlName="mobile" placeholder="Mobile"
                                required="">
                            <div *ngIf="f['mobile'].invalid && (f['mobile'].dirty || f['mobile'].touched)">
                                <div *ngIf="f['mobile'].errors['required']" class="help-block has-error"
                                    style="width: 100%;">
                                    Mobile is required.
                                </div>
                                <div class="help-block has-error" *ngIf="f['mobile'].errors['pattern']">
                                    Mobile Number should only contain numbers.
                                </div>

                                <div class="help-block has-error"
                                    *ngIf="f['mobile'].errors['minlength'] || f['mobile'].errors['maxlength'] ">
                                    Mobile Number must have 10 characters.
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" formControlName="name" class="form-control" placeholder="Name"
                                    value="" required="">
                                <div *ngIf="f['name'].invalid && (f['name'].dirty || f['name'].touched)">
                                    <div *ngIf="f['name'].errors['required']" class="help-block has-error">
                                        Name is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" formControlName="email" class="form-control" placeholder="Email"
                                    value="" required="">
                                <div *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)">
                                    <div *ngIf="f['email'].errors['required']" class="help-block has-error">
                                        Email is required
                                    </div>
                                    <div *ngIf="f['email'].errors['email']" class="help-block has-error">
                                        Email is not in correct format.
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" formControlName="address1" class="form-control" id="address"
                                    placeholder="1234 Main St" required="">

                            </div>

                            <div class="mb-3">
                                <label for="address2" class="form-label">Address 2 <span
                                        class="text-muted">(Optional)</span></label>
                                <input type="text" formControlName="address2" class="form-control" id="address2"
                                    placeholder="Apartment or suite">
                            </div>

                            <hr class="mb-4">
                            <div class="d-block my-3">
                                <div class="form-check custom-radio mb-2">
                                    <input id="credit" name="paymentMethod" formControlName="isStandAlone"
                                        type="checkbox" class="form-check-input" checked="" required="">
                                    <label class="form-check-label" for="credit">Standalone Customer</label>
                                </div>
                            </div>

                            <div *ngIf="showAgent" class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="cc-name" class="form-label">Agent Name</label>
                                    <input type="text" formControlName="agentName" class="form-control" id="cc-name"
                                        placeholder="Name" required="">
                                    <div
                                        *ngIf="f['agentName'].invalid && (f['agentName'].dirty || f['agentName'].touched)">
                                        <div *ngIf="f['agentName'].errors['required']" class="help-block has-error">
                                            Agent name is required
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="cc-number" class="form-label">Agent Mobile</label>
                                    <input type="text" formControlName="agentMobile" class="form-control" id="cc-number"
                                        placeholder="Mobile" required="">
                                    <div
                                        *ngIf="f['agentMobile'].invalid && (f['agentMobile'].dirty || f['agentMobile'].touched)">
                                        <div *ngIf="f['agentMobile'].errors['required']" class="help-block has-error"
                                            style="width: 100%;">
                                            Mobile is required.
                                        </div>
                                        <div class="help-block has-error" *ngIf="f['agentMobile'].errors['pattern']">
                                            Mobile Number should only contain numbers.
                                        </div>

                                        <div class="help-block has-error"
                                            *ngIf="f['agentMobile'].errors['minlength'] || f['agentMobile'].errors['maxlength'] ">
                                            Mobile Number must have 10 characters.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="cc-number" class="form-label">Agent Email</label>
                                    <input type="text" formControlName="agentEmail" class="form-control" id="cc-number"
                                        placeholder="Email" required="">
                                    <div
                                        *ngIf="f['agentEmail'].invalid && (f['agentEmail'].dirty || f['agentEmail'].touched)">
                                        <div *ngIf="f['agentEmail'].errors['required']" class="help-block has-error">
                                            Email is required
                                        </div>
                                        <div *ngIf="f['agentEmail'].errors['email']" class="help-block has-error">
                                            Email is not in correct format.
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <hr class="mb-4">
                            <h4 class="mb-3">Payment</h4>

                            <div class="d-block my-3">
                                <div class="form-check custom-radio mb-2">
                                    <input id="credit" name="paymentMethod" value="credit"
                                        formControlName="paymentMethod" type="radio" class="form-check-input" checked=""
                                        required="">
                                    <label class="form-check-label" for="credit">Credit card</label>
                                </div>
                                <div class="form-check custom-radio mb-2">
                                    <input id="debit" name="paymentMethod" value="cash" formControlName="paymentMethod"
                                        type="radio" class="form-check-input" required="">
                                    <label class="form-check-label" for="debit">Cash</label>
                                </div>
                                <div class="form-check custom-radio mb-2">
                                    <input id="paypal" name="paymentMethod" value="cheque"
                                        formControlName="paymentMethod" type="radio" class="form-check-input"
                                        required="">
                                    <label class="form-check-label" for="paypal">Cheque</label>
                                </div>
                            </div>
                            <div class="row" *ngIf="!isCredit">
                                <div class="col-md-6 mb-3" *ngIf="isCheque">
                                    <label for="cc-name" class="form-label">Cheque Number</label>
                                    <input type="text" class="form-control" id="cc-name" placeholder="" required="">

                                    <div
                                        *ngIf="f['chequeNumber'].invalid && (f['chequeNumber'].dirty || f['chequeNumber'].touched)">
                                        <div *ngIf="f['chequeNumber'].errors['required']" class="help-block has-error">
                                            Cheque number is required
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6 mb-3" *ngIf="isCash">
                                    <label for="cc-number" class="form-label">Payment Amount</label>
                                    <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                                    <div
                                        *ngIf="f['paymentAmount'].invalid && (f['paymentAmount'].dirty || f['paymentAmount'].touched)">
                                        <div *ngIf="f['paymentAmount'].errors['required']" class="help-block has-error">
                                            Payment Amount is required
                                        </div>
                                        <div class="help-block has-error" *ngIf="f['paymentAmount'].errors['pattern']">
                                            Payment amount should only contain numbers.
                                        </div>

                                    </div>
                                </div>
                                <!-- <div class="col-md-6 mb-3">
                                    <label for="cc-expiration" class="form-label">Expiration</label>
                                    <input type="text" class="form-control" id="cc-expiration" placeholder=""
                                        required="">
                                    <div class="help-block has-error">
                                        Expiration date required
                                    </div>
                                </div> -->
                            </div>

                            <hr class="mb-4">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Continue to
                                checkout</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- [disabled]="!customerDetails.valid" -->