<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Fees Collection</h4>
            <button class="btn btn-success btn-sm" style="margin-left: 200px;" [routerLink]="['/protected/stocks/create']">Create</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="datatableexample">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Sell Price</th>
                        <th>Buy Price</th>
                        <th>Quantity</th>
                        <th>Re-Order Level</th>
                      </tr>
                    </thead>
                    <tbody>
                     <tr *ngFor="let group of data">
                           <td>{{group.id}}</td>
                           <td>{{group.name}}</td>
                           <td>{{group.sellingPrice}}</td>
                           <td>{{group.buyingPrice}}</td>
                           <td>{{group.quantity}}</td>
                           <td>{{group.reOrderLevel}}</td>
                           
                       </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>